---
title: Stemcell v3541.x (Linux) Release Notes
Owner: BOSH
---

This topic includes release notes for the 3541.x line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

## <a id="3541-8"></a>3541.8

**Release Date**: Not yet available on Pivotal Network

* Bump bosh-agent to 2.67.1
	* Agent will now respect previously set permissions and owner on sys/run, sys/log and data job directories
	* This should fix stemcell compatibility with Diego/Garden if Agent restarts
		* If you were using 3541.x stemcell for any of your deployments, it's recommended to update your deployments to this version before updating Director since that would cause Agent restart 