title: Stemcell v3541.x (Linux) Release Notes
Owner: BOSH
---

This topic includes release notes for the 3541.x line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

## <a id="3541-9"></a>3541.9

**Release Date**: N/A

- Periodic Ubuntu and CentOS stemcell bump 