---
title: Stemcell v3468.x (Linux) Release Notes
Owner: BOSH
---

This topic includes release notes for the 3468.x line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

## <a id="3468-25"></a>3468.25

**Release Date**: February 23, 2018

- Bump Ubuntu Trusty stemcells for USN-3582-2: Linux kernel (Xenial HWE) vulnerabilities

## <a id="3468-21"></a>3468.21

**Release Date**: January 25, 2018

No functional change except version number

## <a id="3468-20"></a>3468.20

**Release Date**: January 23, 2018

- Bump Ubuntu Trusty stemcells for USN-3540-2: Linux kernel (Xenial HWE) vulnerabilities. This addresses the flaw known as Spectre. This update may include degradations to performance. Pivotal will do additional performance testing and provide updates as more information is available.

## <a id="3468-19"></a>3468.19

**Release Date**: January 18, 2018

Bump Ubuntu Trusty stemcells for USN-3534-1: GNU C Library vulnerabilities

## <a id="3468-17"></a>3468.17

**Release Date**: January 10, 2018

- Bumps Ubuntu Trusty stemcells for USN-3522-4; also bumps vSphere stemcells to use VM hardware version 9
- USN-3522-2 introduced a regression in the Linux Hardware Enablement kernel and USN-3522-4 fixes that issue.
- Per the 3468.16 release note, monitor your VMs prior to upgrading to this stemcell and scale your VMs as necessary. 


## <a id="3468-16"></a>3468.16

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-2: Linux (Xenial HWE) vulnerability](https://usn.ubuntu.com/usn/usn-3522-2/) (This flaw is known as Meltdown.)

### <a id='critical'></a> USN-3522-2 Addresses Meltdown Vulnerabilities

Meltdown exploits critical vulnerabilities in modern processors.
For more information about Meltdown, see the [Meltdown and Spectre Attacks](https://www.cloudfoundry.org/blog/meltdown-spectre-attacks/) blog post.
[USN-3522-2](https://www.cloudfoundry.org/usn-3522-2/) addresses the critical vulnerability in Ubuntu associated with Meltdown.
</br>
</br>
This update may include degradations to performance if your VM's CPU and memory usage are currently at near-capacity levels.
Prior to upgrading to this stemcell, monitor your PCF VM's current CPU and memory usage and scale those components if necessary. If any of your VMs are currently operating at 60% or above, Pivotal recommends scaling that VM.
For information about the performance impact of Meltdown-related stemcell patches on PCF components and guidance on scaling, see this [KB article](https://discuss.pivotal.io/hc/en-us/articles/360000309953).
</br>
</br>
For more information about monitoring and scaling PCF, see the [Monitoring PCF VMs from Ops Manager](http://docs.pivotal.io/pivotalcf/2-0/customizing/monitoring.html),
[Key Capacity Scaling Indicators](https://docs.pivotal.io/pivotalcf/monitoring/key-cap-scaling.html),
and [Scaling PAS](http://docs.pivotal.io/pivotalcf/2-0/opsguide/scaling-ert-components.html) topics. Performance degradation is likely to vary by workload type, IaaS, and other factors.
Pivotal recommends testing your deployment thoroughly after upgrading to this stemcell.


## <a id="3468-13"></a>3468.13

**Release Date**: December 8, 2017

- Bump Ubuntu Trusty stemcell USN-3509-2: Linux kernel (Xenial HWE) vulnerabilities